<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
	xmlns:captchaeu="http://typo3.org/ns/CaptchaEU/Typo3/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<formvh:renderRenderable renderable="{element}">
		<f:variable name="conf" value="{captchaeu:configuration()}" />

		<f:if condition="{conf.enabled}">
			<f:then>
				<f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
					<f:form.hidden
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						value="1"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
						data="{publickey: conf.keyPublic, host: conf.host}"
					/>
				</f:render>
			</f:then>
		</f:if>
	</formvh:renderRenderable>
</html>
